**/node_modules
**/dist
**/.turbo
**/*.tsbuildinfo
.git
.github
.vscode
.idea
**/coverage
**/.env
**/.env.*
!**/.env.example
**/npm-debug.log
**/pnpm-debug.log
**/yarn-debug.log
docker-compose*.yml
*.md
!packages/api/README.md
apps/admin/dist
apps/demo/dist
packages/editor/dist
packages/editor/node_modules
.claude
